{% extends "main.html" %}
{% block content %}

{% endblock %}

{% block posts %}

<!--    <?php-->
<!--        $con = sqlite3.connect('webapp')-->
<!--        c = conn.cursor()-->

<!--        $sql = "SELECT message FROM broadcasts";-->

<!--        $result = $con-->
<!--        if($result=mysql_query($con,$sql)){-->
<!--            while($row=mysql_fetch_row($result)){-->
<!--                printf ("%s (%s)\n",$row[0],$row[1]);-->
<!--            }-->
<!--        }-->

<!--        mysqli_close($con)-->
<!--    ?>-->
{% endblock %}