<!DOCTYPE html>
<html lang="en">
<head>
    {% if refresh == 1%}
        <meta  charset="UTF-8" http-equiv="refresh" content="10">
    {%else%}
        <meta  charset="UTF-8">
    {%endif%}
    <title>sbud159 website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if 'Login' != user  %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user}}

                        {% if user_status == 'online'%}
                                    <span class="badge badge-primary badge-pill">-</span>
                        {% elif user_status == 'busy'%}
                                    <span class="badge badge-danger badge-pill">-</span>
                        {% elif user_status == 'away'%}
                                    <span class="badge badge-warning badge-pill">-</span>
                        {% elif user_status == 'offline'%}
                                    <span class="badge badge-secondary badge-pill">-</span>
                        {% endif %}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{{current_url}}?status=online">Online</a>
                      <a class="dropdown-item" href="{{current_url}}?status=away">Away</a>
                      <a class="dropdown-item" href="{{current_url}}?status=busy"> Busy</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/signout"> logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item active">
                <a class="nav-link" href="/login"> Login <span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            {% if 'Login' != user  %}
                <li class="nav-item">
                    <a class="nav-link" href="/private_messages?status={{user_status}}">Private messages</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts?status={{user_status}}"> post</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privatedata_password"> Upload private data</a>
                 </li>
                {% block message_person%}{% endblock %}
            {% endif %}
        </ul>
      {% if 'Login' != user  %}
        <form action="/search_broadcasts" class="form-inline my-2 my-lg-0">
          <input name="find" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      {% endif %}
      </div>
    </nav>

</head>
<body>

    <div class="row">
        <div class="col-md-3">
            {% block blocked %}{% endblock%}
        </div>

        <div class="col-md-5">
            {% block posts %}{% endblock%}
        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-2">
            {% block aside %}{% endblock %}

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-3">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>


    <!--bootstrap code-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
